.nk-cookie-banner {
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    border-radius: 0px;
    display: none;
}
.nk-cookie-banner{
	background: #EA0605 !important; 	
	color: #fff !important;
}
.nk-cookie-banner a {
    color: #fff;
}
.nk-cookie-banner button{
    padding: .8rem .9rem;
    background: unset;
    border: 1px solid #d8d8d8;
    color: #fff;
    font-weight: 800;
    font-size: .7rem;
    line-height: 1.167em;
    letter-spacing: .113rem;
    text-transform: uppercase;
    border-radius: initial;
}
.btn-primary:hover {
    color: initial !important;
    background-color: initial !important;
    border-color: initial !important;
}